<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"</script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"</script>
      <script src="/javascripts/1.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Друзья</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/Joey">Джоуи Триббиани</a></li>
      <li><a href="/Chandler">Чендлер Бинг</a></li>
      <li><a href="/Ross">Росс Геллер</a></li>
      <li><a href="/Phoebe">Фиби Буффе</a></li>
      <li><a href="/Monica">Моника Геллер</a></li>
      <li><a href="/Rachel">Рэйчел Грин </a></li>
    </ul>
  </div>
</nav>
<%- body %>
  </body>
</html>
